

::marker{
font-weight: bold;
}
span {
  font-family: 'Secular One', sans-serif;
  text-align: left;
  font-weight: bold;
  

}
.container-header{
      text-align: center;
}
.container-main{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


  
  .parrafo-Sangria{
    text-indent: 40px;
  }

  .sub-list{
    margin-left: 100px;
    list-style-type: circle;
  }

  ol{
    padding: 0px;
  }

.container{

  width: 60%;

}

ol > li{
  line-height: 20px;
  margin-bottom: 15px;
}

th, td {
  padding: 10px 20px 10px 0px;
}

.container-header-gameInfo , .container-footer{
  margin: 5% 25%;
}

tbody tr td:first-child{
  padding-left: 80px;
}